{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}

{%- if config.extra.nav.auto_hide %}
	<div id="handle"></div>
{%- endif %}
<header id="site-nav">
	<nav>
		<a href="#main-content" tabindex="0">
			{{ macros_translate::translate(key="skip_to_content", default="Skip to Main Content", language_strings=language_strings) }}
		</a>
		<ul>
			<li id="home">
				<a href="{{ get_url(path='/', lang=lang) }}"
					{%- if current_url | default(value="/") | trim_end_matches(pat="/") | safe == get_url(path="/", lang=lang) | trim_end_matches(pat='/') | safe -%}
						class="active"
					{%- endif -%}>
					<i class="icon"></i>
					{{- config.title -}}
				</a>
			</li>
			<li class="divider"></li>
			{%- for link in config.extra.nav.links %}
				{%- if link.menu and link.menu | length > 0 -%}
					<li>
						<details class="closable">
							<summary>{{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}</summary>
							<ul>
								{%- for link in link.menu -%}
									{%- if link.url is matching('https?://') %}
										<li>
											<a href="{{ link.url }}" rel="{{ rel_attributes }}" class="external">
												{{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
											</a>
										</li>
									{%- else %}
										<li>
											<a href="{{ get_url(path=link.url, lang=lang)}}"
												{%- if current_url | default(value='/') | trim_end_matches(pat='/') | safe == get_url(path=link.url, lang=lang) | trim_end_matches(pat='/') | safe -%}
													class="active"
												{%- endif -%}>
												{{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
											</a>
										</li>
									{%- endif %}
								{%- endfor -%}
							</ul>
						</details>
			 		 </li>
				{%- elif link.url is matching('https?://') %}
					<li>
						{%- if link.name == "GitHub" or link.url is containing("github.com") %}
							<a href="{{ link.url }}" rel="{{ rel_attributes }}" class="external circle" title="{{ link.name }}">
								<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor">
									<path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
								</svg>
							</a>
						{%- elif link.name == "LinkedIn" or link.url is containing("linkedin.com") %}
							<a href="{{ link.url }}" rel="{{ rel_attributes }}" class="external circle" title="{{ link.name }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
									<path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
								</svg>
							</a>
						{%- else %}
							<a href="{{ link.url }}" rel="{{ rel_attributes }}" class="external">
								{{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
							</a>
						{%- endif %}
					</li>
				{%- else %}
					<li>
						<a href="{{ get_url(path=link.url, lang=lang)}}"
							{%- if current_url | default(value='/') | trim_end_matches(pat='/') | safe == get_url(path=link.url, lang=lang) | trim_end_matches(pat='/') | safe -%}
								class="active"
							{%- endif -%}>
							{{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
						</a>
					</li>
				{%- endif %}
			{%- endfor -%}
			{%- if config.build_search_index %}
				<li id="search">
					<button id="search-toggle" class="circle" title="{{ macros_translate::translate(key='search', default='Search', language_strings=language_strings) }}">
						<i class="icon"></i>
					</button>
				</li>
			{%- endif %}
			{%- if config.languages | length > 0 %}
				{%- include "partials/language_switcher.html" %}
			{%- endif -%}
			{%- if config.extra.default_theme and config.extra.nav.show_theme_switcher != false or config.extra.nav.show_theme_switcher %}
				<li id="theme-switcher">
					<details class="closable">
						<summary class="circle" title="{{ macros_translate::translate(key='theme', default='Theme', language_strings=language_strings) }}">
							<i class="icon"></i>
						</summary>
						<ul>
							<li>
								<button class="circle" id="theme-light" title="{{ macros_translate::translate(key='theme_light', default='Switch to Light Theme', language_strings=language_strings) }}">
									<i class="icon"></i>
								</button>
							</li>
							<li>
								<button class="circle" id="theme-dark" title="{{ macros_translate::translate(key='theme_dark', default='Switch to Dark Theme', language_strings=language_strings) }}">
									<i class="icon"></i>
								</button>
							</li>
							<li>
								<button class="circle" id="theme-system" title="{{ macros_translate::translate(key='theme_system', default='Use System Theme', language_strings=language_strings) }}">
									<i class="icon"></i>
								</button>
							</li>
						</ul>
					</details>
				</li>
			{%- endif %}
			{%- if config.feed_filenames | length > 1 and config.extra.nav.show_feed -%}
				<li id="feed">
					<details class="closable">
						<summary class="circle" title="{{ macros_translate::translate(key='feed', default='Feed', language_strings=language_strings) }}">
							<i class="icon"></i>
						</summary>
						<ul>
							{%- for feed in config.feed_filenames %}
								<li>
									<a href="{{ get_url(path=feed, lang=lang) }}" rel="{{ rel_attributes }}">
										{%- if feed == "atom.xml" -%}
											Atom
										{%- else -%}
											RSS
										{%- endif -%}
									</a>
								</li>
							{%- endfor -%}
						</ul>
					</details>
				</li>
			{%- elif config.generate_feeds and config.extra.nav.show_feed %}
				<li id="feed">
					<a class="circle" href="{{ get_url(path=config.feed_filenames[0], lang=lang) }}" title="{{ macros_translate::translate(key='feed', default='Feed', language_strings=language_strings) }}">
						<i class="icon"></i>
					</a>
				</li>
			{%- endif %}
			{%- if config.extra.source_url and config.extra.nav.show_repo %}
				<li id="repo">
					<a class="circle" href="{{ config.extra.source_url }}" title="{{ macros_translate::translate(key='repo', default='Repository', language_strings=language_strings) }}">
						<i class="icon"></i>
					</a>
				</li>
			{%- endif %}
		</ul>
	</nav>
	{%- if config.build_search_index %}
		<div id="search-container">
			<label for="search-bar" class="visually-hidden">
				{{- macros_translate::translate(key="search", default="Search", language_strings=language_strings) -}}
			</label>
			<input id="search-bar" placeholder="{{ macros_translate::translate(key='search_for', default='Search for', language_strings=language_strings) }}…" autocomplete="off" type="search" disabled>
			<div id="search-results-container">
				<div id="search-results"></div>
			</div>
		</div>
	{%- endif %}
</header>
